

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: #DB7093;
    -fx-control-inner-background: derive(#FFEFD5,20%);
}

.text-area {
    -fx-background-color: #DB7093;
    -fx-control-inner-background: #ffe6e6;
    -fx-font-family: "Calibri";
    -fx-text-fill: #993366;
    -fx-font-size: 12pt;
    -fx-padding: 15 15 15 15;
}
